@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Poppins'
}

body {
  display: flex;
  overflow: hidden;
  user-select: none;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('./wavy-lines.svg');
}
